{% extends 'base.html' %}
{% block body %}
<div class="container mt-3" style="height: 76.4vh;">
    <div class="h2 text-center">About Us</div>
    <p class="text-dark">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, qui nam? Quod sint amet iste qui eius culpa unde animi? Fuga recusandae vel quod voluptatum ipsum aperiam aspernatur autem, officia error odio molestias facere earum sed nulla eveniet. Ipsum magnam, adipisci repellendus excepturi voluptates rem reiciendis sit delectus laboriosam quisquam.</p>
    
</div>
{% endblock body %}