{% extends 'base.html'%}
{% block body %}
      <div class="container confession">
          <div class="mb-3">
              <div class="h2 text-center mt-5">Send private message to Hamro Confession</div>
            </div>
              <form action="/confession" method="post">
                  {%csrf_token%}
            <label for="exampleFormControlTextarea1" class="form-label h4">Your Confessions:</label>
            <textarea class="form-control border-2 border-secondary" id="exampleFormControlTextarea1" rows="8" name="confession-msg"></textarea>
          <div class="container d-flex justify-content-center">
              <button class="btn-lg btn-secondary mt-3" type="submit">Send Message</button>
          </div>
        </form>
      </div>
      {% endblock body %}